@import "~bootstrap/scss/bootstrap";
@import "~summernote/dist/summernote-bs4";
@import "~codemirror/lib/codemirror";

$polygon-default: #007bff;
$polygon-active: #28a745;

body {
    margin-top: 60px; // Account for fixed navbar
}

#show-area {
    display: none;
}

#file-import {
    display: none;
}

#floorplan {
    position: relative;

    img {
        width: 100%;
        min-height: 500px;
    }

    svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
}

#tooltip {
    position: absolute;
    width: 250px;
    height: 250px;
    z-index: 1000;
}

circle {
    fill: $polygon-default;

    &:hover {
        cursor: move;
    }

    &.active {
        fill: $polygon-active;
        stroke: $polygon-active;
    }
}

line {
    stroke: $polygon-default;
    stroke-width: 1;
}

polygon {
    fill: $polygon-default;
    fill-opacity: 0.25;
    stroke: $polygon-default;
    stroke-width: 1;

    &:hover {
        cursor: pointer;
    }

    &.active {
        fill: $polygon-active;
        stroke: $polygon-active;
    }
}

.edit {
    display: none;
}

.polygon-drawing {
    circle {
        cursor: pointer;
    }

    line {
        pointer-events: none;
    }

    polyline {
        fill: none;
        stroke: $polygon-default;
        pointer-events: none;
    }
}