@import "~bootstrap/scss/bootstrap";
@import "~codemirror/lib/codemirror";

$polygon-default: #007bff;
$polygon-active: #28a745;

body {
    margin-top: 60px; // Account for fixed navbar
}

#left-side,
#right-side {
    overflow-y: hidden;
    height: calc(100vh - 65px);
    width: 100%;
}

#show-area,
#show-floor {
    display: flex;
    height: 100%;
    flex-direction: column;

    #show-area-desc,
    #show-floor-details {
        overflow-y: auto;
    }
}

#edit-area {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

#file-import {
    display: none;
}

#floorplan {
    position: relative;

    img {
        width: 100%;
    }

    svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
}

#tooltip {
    position: absolute;
    max-width: 350px;
    z-index: 1000;
    pointer-events: none;
    font-size: 12px;
}

circle {
    fill: $polygon-default;

    &:hover {
        cursor: move;
    }

    &.active {
        fill: $polygon-active;
        stroke: $polygon-active;
    }
}

line {
    stroke: $polygon-default;
    stroke-width: 1;
}

polygon {
    fill: $polygon-default;
    fill-opacity: 0.15;
    stroke: $polygon-default;
    stroke-width: 1;

    &:hover {
        cursor: pointer;
    }

    &.active {
        fill: $polygon-active;
        stroke: $polygon-active;
    }
}

.edit-card-body {
    padding: 20px;
}

.hidden {
    display: none !important;
}

.polygon-drawing {
    circle {
        cursor: pointer;
    }

    line {
        pointer-events: none;
    }

    polyline {
        fill: none;
        stroke: $polygon-default;
        pointer-events: none;
    }
}
